/***********公共样式********/
body {
  font: 8px "microsoft yahei", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
dd {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
.left {
  float: left;
}
.right {
  float: right;
}
.clear {
  clear: both;
}
.scroll-bar-control ::-webkit-scrollbar {
  width: 8px;
}
.scroll-bar-control ::-webkit-scrollbar-thumb {
  border-radius: 4px;
}
/***********基础样式********/
body {
  width: 100%;
  height: 100%;
}
body i.fa {
  font-size: 16px;
  vertical-align: middle;
}
body #header {
  height: 50px;
  line-height: 50px;
}
body #header #logo {
  margin-left: 20px;
  font: 1.2rem Helvetica;
  font-style: italic;
}
body #header #logo a {
  color: #fff;
  text-decoration: none;
  line-height: 50px;
  height: 50px;
}
body #header #logo img {
  vertical-align: middle;
  width: 25px;
}
body #header .search-music {
  height: 20px;
  width: 220px;
  line-height: 20px;
  margin-left: 100px;
  padding-left: 10px;
  border-radius: 10px;
  margin-top: 15px;
}
body #header .search-music #search {
  padding: 0;
  font-size: 10px;
  border: none;
  outline: none;
  width: 195px;
}
body #header .search-music #searchBtn {
  cursor: pointer;
  font-size: 14px;
}
body #header .search-music #searchBtn:hover {
  color: #fff;
}
body #header .tool-bar {
  width: 450px;
  margin-right: 20px;
  height: 50px;
}
body #header .tool-bar .tool-bar-setting {
  padding: 0 20px;
  width: 240px;
}
body #header .tool-bar .tool-bar-setting li {
  float: left;
  margin-left: 25px;
  position: relative;
}
body #header .tool-bar .tool-bar-setting i.fa {
  cursor: pointer;
}
body #header .tool-bar .tool-bar-setting .dialog:before {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  position: absolute;
  top: -4px;
  left: 48%;
  transform: rotate(45deg);
}
body #header .tool-bar .tool-bar-setting .dialog {
  display: none;
  width: 250px;
  height: 400px;
  z-index: 12;
  top: 50px;
  left: -60px;
  position: absolute;
  border-radius: 5px;
  box-shadow: 0 0 10px #ccc;
}
body #header .tool-bar .tool-bar-setting .dialog-theme {
  width: 400px;
  height: 250px;
  left: -190px;
}
body #header .tool-bar .tool-bar-setting .dialog-theme ul {
  width: 100%;
  height: 100%;
  padding: 30px 15px 0 15px;
  box-sizing: border-box;
}
body #header .tool-bar .tool-bar-setting .dialog-theme ul li {
  float: left;
  width: 30%;
  margin-left: 3%;
  height: 90px;
  margin-bottom: 10px;
}
body #header .tool-bar .tool-bar-setting .dialog-theme ul li a {
  display: block;
  width: 100%;
  height: 90px;
  line-height: 90px;
  color: #fff;
  text-align: center;
  vertical-align: bottom;
  font-size: 12px;
}
body #header .tool-bar .tool-bar-setting .dialog-theme ul li:nth-child(1) a {
  background: #292C32;
}
body #header .tool-bar .tool-bar-setting .dialog-theme ul li:nth-child(1) a:hover {
  outline: 2px solid #000;
}
body #header .tool-bar .tool-bar-setting .dialog-theme ul li:nth-child(2) a {
  background: #CF3C38;
}
body #header .tool-bar .tool-bar-setting .dialog-theme ul li:nth-child(2) a:hover {
  outline: 2px solid #a41313;
}
body #header .tool-bar .tool-bar-setting .dialog-theme ul li:nth-child(3) a {
  background: #EE9ABD;
}
body #header .tool-bar .tool-bar-setting .dialog-theme ul li:nth-child(3) a:hover {
  outline: 2px solid #ffccdd;
}
body #header .tool-bar .tool-bar-setting .dialog-theme ul li:nth-child(4) a {
  background: #93DEFF;
}
body #header .tool-bar .tool-bar-setting .dialog-theme ul li:nth-child(4) a:hover {
  outline: 2px solid #ccddFF;
}
body #header .tool-bar .tool-bar-setting .dialog-theme ul li:nth-child(5) a {
  background: #43A565;
}
body #header .tool-bar .tool-bar-setting .dialog-theme ul li:nth-child(5) a:hover {
  outline: 2px solid #88A565;
}
body #header .tool-bar .tool-bar-setting .dialog-theme ul li:nth-child(6) a {
  background: #FBD790;
}
body #header .tool-bar .tool-bar-setting .dialog-theme ul li:nth-child(6) a:hover {
  outline: 2px solid #ffff90;
}
body #header .tool-bar .tool-bar-setting .dialog-message {
  width: 500px;
  min-height: 300px;
  max-height: 800px;
  left: -235px;
}
body #header .tool-bar .tool-bar-setting .dialog-control.active + .dialog {
  display: block;
}
body #header .tool-bar .tool-bar-setting li:first-child a#headPortrait {
  float: left;
  width: 30px;
  height: 30px;
  margin: 10px 10px 0 0;
}
body #header .tool-bar .tool-bar-setting li:first-child a#headPortrait img {
  width: 30px;
  border-radius: 15px;
}
body #header .tool-bar .tool-bar-setting li:first-child span {
  float: left;
  font-size: 12px;
  font-weight: 400;
  cursor: pointer;
}
body #header .tool-bar .tool-bar-setting li:first-child span i {
  font-style: normal;
}
body #header .tool-bar .tool-bar-setting li:first-child span:hover i {
  color: #fff;
  font-style: normal;
}
body #header .tool-bar .tool-bar-setting li:first-child .fa-user-circle-o {
  font-size: 25px;
  border-radius: 50%;
  color: #ccc;
  background: #ddd;
}
body #header .tool-bar .tool-bar-cut {
  border-left: 2px solid #A82828;
  padding: 6px 0;
}
body #header .tool-bar .tool-bar-tool {
  padding: 0;
  width: 160px;
}
body #header .tool-bar .tool-bar-tool li {
  float: left;
  margin-left: 25px;
}
body #main {
  font-size: 13px;
  height: 600px;
}
body #main .music-stage {
  background: #fafafa;
  background: url("../images/music_area_bg.jpg") no-repeat 0 0;
  background-size: 100%;
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 3;
  display: none;
}
body #main .music-stage .shrink-stage {
  position: fixed;
  cursor: pointer;
  top: 80px;
  right: 30px;
  width: 50px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background: #fff;
  border-radius: 3px;
  border: 1px solid #ddd;
}
body #main .music-stage .shrink-stage i.fa {
  font-size: 20px;
}
body #main .music-stage .stage-container {
  margin: 0 80px;
  height: 2000px;
}
body #main .music-stage .stage-container .canvas-area {
  width: 900px;
  margin: 0 auto;
  height: 430px;
  position: relative;
}
body #main .music-stage .stage-container .canvas-area .lyric-container {
  width: 350px;
  margin-top: 20px;
}
body #main .music-stage .stage-container .canvas-area .lyric-container .lyric-header {
  margin: 10px 0;
}
body #main .music-stage .stage-container .canvas-area .lyric-container .lyric-area {
  margin-top: 10px;
  height: 400px;
  overflow-y: scroll;
  border-right: 1px solid #ddd;
}
body #main .music-stage.active {
  display: block;
}
body #main .music-tool-bar {
  height: 100%;
  box-sizing: border-box;
}
body #main .music-tool-bar .music-tool {
  width: 200px;
  height: 91%;
  overflow-x: hidden;
  overflow-y: auto;
}
body #main .music-tool-bar .music-tool-control {
  padding: 10px;
}
body #main .music-tool-bar .music-tool-control-do {
  height: 20px;
}
body #main .music-tool-bar .music-tool-control-do i.fa {
  padding-left: 80px;
}
body #main .music-tool-bar .music-tool-control-do.active + ul {
  display: none;
}
body #main .music-tool-bar .music-tool-list {
  padding-bottom: 10px;
}
body #main .music-tool-bar .music-tool-list li a {
  display: block;
  padding-left: 20px;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  height: 29px;
  line-height: 29px;
}
body #main .music-tool-bar .music-tool-list li.active {
  border-left: 2px solid #C62F2F;
}
body #main .music-preview:hover .music-preview-extension {
  display: block;
}
body #main .music-preview {
  width: 200px;
  height: 50px;
  box-sizing: border-box;
  padding: 5px;
  position: relative;
}
body #main .music-preview .music-preview-pic {
  width: 100px;
  height: 40px;
  font-size: 12px;
}
body #main .music-preview .music-preview-pic img {
  width: 40px;
  float: left;
}
body #main .music-preview .music-preview-pic span {
  float: left;
  margin-left: 5px;
  width: 40px;
  height: 20px;
  line-height: 20px;
}
body #main .music-preview .music-preview-pic:hover {
  cursor: pointer;
}
body #main .music-preview .music-preview-extension {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 5px;
  left: 5px;
  width: 40px;
  height: 40px;
  background: rgba(0, 0, 0, 0.3);
  padding: 8px;
  text-align: center;
  box-sizing: border-box;
}
body #main .music-preview .music-preview-extension i.fa {
  color: #fff;
  opacity: 0.6;
  font-size: 26px;
}
body #main .music-preview .music-preview-tool {
  width: 30px;
  height: 40px;
}
body #main .music-preview .music-preview-tool a {
  text-align: center;
  display: block;
  width: 30px;
  height: 20px;
  line-height: 20px;
}
body #main .music-preview .music-preview-tool a i.fa {
  font-size: 12px;
}
body #main .display-area {
  margin-left: 200px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0 20px 0 20px;
}
body #main .display-area .nav-bar {
  padding: 0 10%;
}
body #main .display-area .nav-bar li {
  display: inline-block;
  padding: 10px;
  width: 16%;
  box-sizing: border-box;
}
body #main .display-area .nav-bar li a {
  text-align: center;
  display: block;
  font-size: 16px;
}
body #main .display-area #findMusic .findMusic-display-area {
  max-width: 1050px;
  margin: 0 auto;
}
body #main .display-area #findMusic .findMusic-display-area-block.active {
  display: block;
}
body #main .display-area #findMusic .findMusic-display-area-block {
  display: none;
}
body #main .display-area #findMusic .findMusic-display-area-block .banner ul.banner-show {
  position: relative;
  height: 250px;
}
body #main .display-area #findMusic .findMusic-display-area-block .banner ul.banner-show li {
  position: absolute;
  bottom: 0;
  opacity: 0;
  width: 400px;
  height: 184px;
  left: 250px;
  z-index: auto;
  transition: all 0.2s linear;
}
body #main .display-area #findMusic .findMusic-display-area-block .banner ul.banner-show li a {
  display: block;
}
body #main .display-area #findMusic .findMusic-display-area-block .banner ul.banner-show li a img {
  width: 100%;
}
body #main .display-area #findMusic .findMusic-display-area-block .banner ul.banner-show li.active {
  left: 200px;
  opacity: 1;
  z-index: 2;
  width: 500px;
  height: 230px;
}
body #main .display-area #findMusic .findMusic-display-area-block .banner ul.banner-show li.active img {
  width: 100%;
}
body #main .display-area #findMusic .findMusic-display-area-block .banner ul.banner-show li.pre {
  width: 400px;
  height: 184px;
  opacity: 1.5;
  left: 0;
  z-index: 1;
}
body #main .display-area #findMusic .findMusic-display-area-block .banner ul.banner-show li.pre img {
  width: 100%;
}
body #main .display-area #findMusic .findMusic-display-area-block .banner ul.banner-show li.next {
  z-index: 1;
  width: 400px;
  height: 184px;
  left: 500px;
  opacity: 1.5;
}
body #main .display-area #findMusic .findMusic-display-area-block .banner ul.banner-show li.next img {
  width: 100%;
}
body #main .display-area #findMusic .findMusic-display-area-block .banner ul.banner-index {
  width: 200px;
  margin: 10px auto;
}
body #main .display-area #findMusic .findMusic-display-area-block .banner ul.banner-index li {
  float: left;
  width: 10%;
  margin: 0 1%;
}
body #main .display-area #findMusic .findMusic-display-area-block .banner ul.banner-index li a {
  display: block;
  height: 2px;
}
body #main .display-area #findMusic .findMusic-display-area-block .recommend-block {
  margin-top: 30px;
}
body #main .display-area #findMusic .findMusic-display-area-block .recommend-block :after {
  content: '';
  clear: both;
  display: block;
}
body #main .display-area #findMusic .findMusic-display-area-block .recommend-block .recommend-block-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
}
body #main .display-area #findMusic .findMusic-display-area-block .recommend-block .recommend-block-header span:first-child {
  font-size: 16px;
}
body #main .display-area #findMusic .findMusic-display-area-block .recommend-block .recommend-block-header:after {
  content: '';
  clear: both;
  display: block;
}
body #main .display-area #findMusic .findMusic-display-area-block .recommend-block .recommend-block-body {
  width: 100%;
}
body #main .display-area #findMusic .findMusic-display-area-block .recommend-block .recommend-block-body dl {
  width: 18.4%;
  margin-right: 2%;
  float: left;
  margin-bottom: 20px;
}
body #main .display-area #findMusic .findMusic-display-area-block .recommend-block .recommend-block-body dl dt {
  width: 100%;
  position: relative;
  overflow: hidden;
}
body #main .display-area #findMusic .findMusic-display-area-block .recommend-block .recommend-block-body dl dt span.recommend-block-cover {
  background: rgba(0, 0, 0, 0.5);
  color: #eee;
  position: absolute;
  top: -100px;
  left: 0;
  padding: 6% 2% 6% 4%;
  font-size: 12px;
  height: 32px;
  overflow: hidden;
  transition: top 0.5s linear;
}
body #main .display-area #findMusic .findMusic-display-area-block .recommend-block .recommend-block-body dl dt a {
  display: block;
}
body #main .display-area #findMusic .findMusic-display-area-block .recommend-block .recommend-block-body dl dt a img {
  width: 100%;
}
body #main .display-area #findMusic .findMusic-display-area-block .recommend-block .recommend-block-body dl dt dd {
  float: left;
  height: 50px;
}
body #main .display-area #findMusic .findMusic-display-area-block .recommend-block .recommend-block-body dl:hover span.recommend-block-cover {
  top: 0;
}
body #main .display-area #findMusic .findMusic-display-area-block .recommend-block .recommend-block-body dl:nth-child(5),
body #main .display-area #findMusic .findMusic-display-area-block .recommend-block .recommend-block-body dl:nth-child(10) {
  margin: 0;
}
body #main .display-area #findMusic .findMusic-display-area-block .recommend-block .recommend-block-body .row > dl:last-child {
  margin-right: 0;
}
body #main:after {
  content: '';
  clear: both;
  display: block;
}
body #footer {
  width: 100%;
  height: 50px;
  line-height: 50px;
  box-sizing: border-box;
}
body #footer span {
  cursor: pointer;
}
body #footer .progress-container {
  display: inline-block;
  width: 82%;
  margin: 0 1%;
  height: 6px;
  border-radius: 3px;
  cursor: pointer;
}
body #footer .progress-container .play-progress {
  height: 6px;
  border-radius: 3px;
  width: 0;
}
body #footer .progress-container .progress-point {
  box-sizing: border-box;
  width: 17px;
  height: 17px;
  padding: 4px 5px 0 0;
  border-radius: 50%;
  margin: -5px 0 0 0;
  background: #fff;
  position: relative;
  text-align: center;
}
body #footer .progress-container .progress-point span {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
}
body #footer .footer-left {
  width: 200px;
  height: 48px;
}
body #footer .footer-left span {
  display: inline-block;
  width: 28px;
  height: 28px;
  line-height: 26px;
  margin: 9px 16px;
  border-radius: 50%;
  text-align: center;
}
body #footer .footer-left span i.fa {
  color: #fff;
}
body #footer .footer-left .play-pause {
  width: 34px;
  height: 34px;
  line-height: 32px;
  margin: 7px 16px;
}
body #footer .footer-right {
  width: 300px;
  height: 48px;
}
body #footer .footer-right .volume-silence {
  display: inline-block;
  box-sizing: border-box;
  height: 48px;
  line-height: 48px;
  width: 15px;
}
body #footer .footer-right .progress-sound {
  width: 120px;
}
body #footer .footer-right .footer-tool-right {
  margin-left: 20px;
}
body #footer .footer-right .footer-tool-right-list {
  cursor: pointer;
  font-size: 12px;
  margin: 17px 20px 0 0;
  width: 50px;
  height: 15px;
  line-height: 15px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  vertical-align: bottom;
  padding-bottom: 2px;
}
body #footer .footer-right .footer-tool-right-list .list-count {
  margin-left: 10px;
}
body #footer .footer-center {
  height: 48px;
  line-height: 48px;
  margin-left: 200px;
  margin-right: 300px;
}
body #footer .footer-center .progress-time {
  display: inline-block;
  width: 6%;
  font-size: 12px;
  text-align: center;
}
body:after {
  content: '';
  clear: both;
  display: block;
}
